# package directories
serverless-todo-application/server/node_modules
serverless-todo-application/server/jspm_packages

# Serverless directories
serverless-todo-application/server/.serverless

# Webpack directories
serverless-todo-application/server/.webpack

# IDE
serverless-todo-application/server/.idea
